button {
    width: 96px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: rgb(226 232 240);
    margin: 4px;

    &:hover {
        background-color: rgb(241 245 249);
        cursor: pointer;
    }
}

.main-header {
    padding: 8px;
}

.main-subHeader {
    font-weight: 400;
    color: rgb(107 114 128);
}